<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/app.css">
</head>

<body>
    <div id="app">
        <el-button type="success" @click="start">► Start</el-button>
        <el-button type="info" @click="reset()">↺ Reset</el-button>
        <el-button type="info" @click="stop()">✖ Stop</el-button>
        <el-button type="info" @click="open('static/help.html')">? Help</el-button>
        <span class="demonstration">car ${car.id} is selected from ${number} cars</span>
        <el-form :inline="true" :model="car" class="demo-form-inline">
            <el-form-item label="Wheel Base">
                <el-input v-model="car.wheel_base"></el-input>
            </el-form-item>
            <el-form-item label="Front Wheel Angle">
                <el-input v-model="car.front_wheel_angle"></el-input>
            </el-form-item>
            <el-form-item label="Velocity">
                <el-input v-model="car.velocity"></el-input>
            </el-form-item>
            <el-form-item label="Acceleration">
                <el-input v-model="car.a"></el-input>
            </el-form-item>
        </el-form>
    </div>
    <div id="canvas"></div>
    <div id="chart">
        <canvas id="velocity" class="el-chart"></canvas>
        <canvas id="acceleration" class="el-chart"></canvas>
    </div>
</body>
<script src="static/js/Chart.bundle.min.js"></script>
<script src="static/js/vue.js"></script>
<script src="static/js/index.js"></script>
<script src="static/js/three.min.js"></script>
<script src="static/js/glcode.js"></script>
<script src="static/js/app.js"></script>

</html>