<!DOCTYPE html>
<html>
<title>DrivingSchool</title>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/app.css">
</head>

<body>
    <div id="app">
        <el-button type="success" @click="start">► Start</el-button>
        <el-button type="info" @click="stop()">✖ Stop</el-button>
        <el-button type="info" @click="reset()">↺ Reset</el-button>
        p err: <el-input v-model="p_error" @change="changeperror"></el-input>
        v err: <el-input v-model="v_error"></el-input>
        front wheel angle: <el-input v-model="front_wheel_angle"></el-input>
        v: <el-input v-model="v"></el-input>
        a: <el-input v-model="a"></el-input>
        <el-checkbox v-model="ai" label="AI" @change="changeAIstate"></el-checkbox>
        ID ${id}, ${number} objects x:${x}, y:${y} 
        episode:${counts} Time: ${time}
    </div>
    <div id="canvas"></div>
</body>
<script src="static/js/vue.js"></script>
<script src="static/js/index.js"></script>
<script src="static/js/three.min.js"></script>
<script src="static/js/glcode.js"></script>
<script src="static/js/app.js"></script>

</html>